/* css for mobile */
@media only screen and (max-width: 768px) {
  body{
    background-color: #1f1f1f;
    color: #c7c7c7;
    text-align: center;
    font-family: 'Azeret Mono', monospace;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
  
  .flex-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem 3rem 2rem;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #c7c7c7;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 0.8rem;
  }

}


/* css for PCs */
@media only screen and (min-width: 768px){

  body{
    background-color: #1f1f1f;
    color: #c7c7c7;
    text-align: center;
    font-family: 'Azeret Mono', monospace;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 5rem 2rem 5rem;
  }

  .navbar a {
    float: left;
    display: block;
    color: #c7c7c7;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
  }
}


/* main container */
.content {
  margin-bottom: 5rem;
  padding: 2rem;
  border: 3px #c7c7c7 solid;
}


/* navbar css*/
.navbar{
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  background-color: #1f1f1f;
}
.navbar a:hover {
  background-color: rgb(199, 199, 199);
  color: black;
}
.navbar a.active {
  background-color: black;
  color: rgb(199, 199, 199);
}


/* page-specific css */
  
  /* home css */


  /* about css*/
.about img{
  margin-top: 5rem;
  height: 200px;
}

  /* project css */
.projects{
}

  /* contact css */
.contact_form{

}
.social{
}
.social img{
  height: 3rem;
}
input[type=text],input[type=email], textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 1rem; 
}
textarea{
  height: 5rem;
  resize: vertical;
}
input[type=submit],input[type=text],input[type=email], textarea{
  border: 3px #c7c7c7 solid;
  background-color: #1f1f1f;
  color: #c7c7c7;
  font-family: inherit;
}
input[type=submit]:focus,input[type=text]:focus,input[type=email]:focus, textarea:focus-within{
  background-color: black;
}
input[type=submit] { 
  width: 100%;
  padding: 12px 20px;
  cursor: pointer;
  font-family: inherit;
}
input[type=submit]:hover{
  background-color: black;
}